* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Helvetica Neue, Arial;
  font-size: 1.1rem;
}

h1, h2 {
  color: rgb(16, 145, 37);
  }

h1 {
  font-size: 2.7rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.main-text {
  text-align: justify;
  margin-bottom: 20px;
}

.author-text {
  font-size: 1.2rem;
}

.container {
  width: 1140px;
  margin: 20px auto 0 auto;
}

.blog-post {
  width: 75%;
  float: left;
  padding-right: 30px;
}

.other-posts {
  width: 25%;
  float: left;
}

.author-box {
  border-top: 1px solid #808080;
  padding-top: 20px;
}
